.ulc
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    color: #813772;
}

.lic {
    float: left;
}

.lic a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

.lici {
  left: 50%;
   position: relative;
   transform: translateX(-50%);
}

.lic a:hover {
    background-color: #813772;
    color: #fff;
}

.licr {
float:right;
}

.licr a {
    display: block;
    color: #fff;
    background-color: #813772;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  background-repeat: no-repeat;
  font-size:22px !important;
}

.signupSection {
  position: absolute;
  padding:30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  text-align: center;
  display: flex;
  color: white;
  box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.info {
  width: 45%;
  background: rgba(20, 20, 20, .8);
  padding: 30px 0;
  border-right: 5px solid rgba(30, 30, 30, .8);
  h2 {
    padding-top: 30px;
    font-weight: 300;
  }
  p {
    font-size: 18px;
  }
}

.signupForm {
  width: 70%;
  padding: 5% 0;
  background: #813772;
  transition: .2s;
  font-size:22px;
  h2 {
    font-weight: 300;
  }
}

.inputFields {
  margin: 15px 0;
  font-size: 16px;
  padding: 10px;
  width: 250px;
  border: 1px solid #111;
  border-top: none;
  border-left: none;
  border-right: none;
  background: #813772;
  color: white;
  outline: none;
}

.noBullet {
  list-style-type: none;
  padding: 0;
}

#join-btn {
  border: 1px solid #111;
  background: #813772;
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: .4s;
}

#join-btn:hover
{
	background-color:#111;
	color:#813772;
}

.img{
padding-top: 90%;
width:60%;
vertical-align:middle;
}

div.tab {
    overflow: hidden;
    text-decoration: none;
}

div.tab button {
    color:#fff;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 30px;
    margin-left: 0px;
    margin-right: 0px;
    transition: 0.3s;
    font-size: 22px;
    text-align: center;
}

div.tab button:hover {
    background-color: #813772;
}

div.tab button.active {
    background-color: #813772;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}